@{
    ViewData["Title"] = "Home Page";
}

<div >
    <div class="text-center">
        <h1 class="display-4">Guide</h1>
        <br />
        <h2>1 Hour</h2>
        <br />
    </div>
    <p>
        FoodStorm hosts clients catering website experiences, as such our platform has a high exposure to the public internet.
        <br />
        Commonly bots will skim FoodStorm catering websites and attempt to submit forms.
        <br />
        Using reCAPCHA v3 a lot of this bot automation can be stopped.
    </p>
    <br/>
    <ul class="text-left">
        <li>
            Implement reCAPTCHA v2 or v3 into a vanilla MVC app (The link to the form that requires reCAPTCHA is in the header)
        </li>
        <li>
            The form must execute mandatory field validation first
        </li>
        <li>
            The form should display the reCAPTCHA badge (or V2 input)
        </li>
        <li>
            The form should fail submission if reCAPTCHA fails
        </li>
        <li>
            If you pass the reCAPTCHA challenge and validation, the Thank You page should display
        </li>
        <li>
            This task requires updates to the frontend and business logic
        </li>
    </ul>
    <br />
    <p>
        It will test your HTML, CSS and C# (.NET) skills. This task will not require SQL.
    </p>
</div>
